<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yo Dali te saludo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<form action="greeting">
    <div class="form-group">
        <input name="nombre" type="text" style="width: 200px;" class="form-control" id="formGroupExampleInput" placeholder="¿A quien saludamos?">
    </div>
    <select name="planeta" class="form-select" style="width: 200px;">
        <option th:each="planeta : ${Planetas}" th:value="${planeta}" th:text="${planeta}"> </option>
    </select>
    <button type="submit" class="btn btn-primary">Vamos</button>
</form>
</body>
<script src="/js/bootstrap.bundle.min.js"></script>
</html>